<div class="add__todo">
  <form [formGroup]="todoReactiveForm" (ngSubmit)="submit(todoReactiveForm.value)" class="form">
    <mat-form-field appearance="fill">
      <mat-label>Название задачи</mat-label>
      <input matInput formControlName="text" />
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>Категория</mat-label>
      <mat-select formControlName="selectedCategory">
        <mat-option [value]="'new'">Новая категория</mat-option>
        <mat-option *ngFor="let project of projects$ | async; trackBy: trackByFn" [value]="project.title">
          {{project.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br /><br />

    <mat-form-field class="form-element" *ngIf="todoReactiveForm.value.selectedCategory === 'new'">
      <mat-label>Название категории</mat-label>
      <input matInput placeholder="Новая категория" formControlName="customNewCategory">
    </mat-form-field>

    <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Отмена</button>
    <button mat-raised-button mat-dialog-close [disabled]="!todoReactiveForm.valid" color="primary" type="submit">Ок</button>
  </mat-dialog-actions>
  </form>
</div>

