input.ng-touched.ng-invalid {
  border-color: red;
}

.projects__container {
  margin-top: 2rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
  margin-top: 1rem;
}

.striked {
  text-decoration: line-through;
}
